# Name: .include.mk - include for Makefiles
# Usage: include .include.mk
# Author: Marco Broglia <marco.broglia@mutex.it>
# Date: 2026.03.19

#-----
# vars
#-----

# source/destination, local/remote

bucket := [BUCKET]

src_root := [SRC_ROOT]
dst_root := [DST_ROOT]

# rules

rule_width := [RULE_WIDTH]
rule_queue := [RULE_QUEUE]

# email

mail_From := $(project) system [MAIL_FROM]
mail_from := [MAIL_FROM]
mail_To   := $(project) admin [MAIL_TO]
mail_to   := [MAIL_TO]

mail_log := yes


# vim: ts=4
